header {
  background-color: brown;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  line-height: 4rem;
  font-size: 1rem;
}
h1{
    font-size: 2rem;
}

main {
  display: flex;
}

.tabs-content {
  width: 250px;
  height: fit-content;
}

#maincontent {
  display: flex;
  width: 70%;
  margin: 5px;
}
.suggestions {
  border: 1px solid black;
  min-height: 100px;
  padding: 7px;
  line-height: 1.3rem;
  width: 50%;
  margin: 5px;
  text-align: center;
}
