header {
  background-color: brown;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  line-height: 4rem;
  font-size: 2rem;
}

.grid-container {
  margin-right: -200px;
}
.tabs-content {
  width: 150px;
}
